/* CSS declarations go here */

.ui.visible.left.sidebar.icon ~ .fixed, .ui.visible.left.sidebar.icon ~ .pusher {
  -webkit-transform: translate3d(6rem, 0, 0);
  transform: translate3d(6rem, 0, 0)
}

#cardGame .main.container {
  margin-right: 387px !important;
  margin-left: 3em !important;
  max-width: 960px !important;
}