<div class="ui dividing right rail">
    <div class="ui sticky" style="width: 283px !important; height: 237.083px !important;"><h4 class="ui header">Getting
        started</h4>
        <div class="ui vertical following fluid accordion text menu">
            <div class="item"><a class="active title"><i class="dropdown icon"></i> <b>Preface</b></a>
                <div class="active content menu"><a class="item" href="#using-build-tools">Using Build Tools</a></div>
            </div>
            <div class="item"><a class="title"><i class="dropdown icon"></i> <b>Installing</b></a>
                <div class="content menu"><a class="item" href="#install-nodejs">Install NodeJS</a><a class="item"
                                                                                                      href="#install-gulp">Install
                    Gulp</a><a class="item" href="#install-semantic-ui">Install Semantic UI</a><a class="item"
                                                                                                  href="#include-in-your-html">Include
                    in Your HTML</a></div>
            </div>
            <div class="item"><a class="title"><i class="dropdown icon"></i> <b>Updating</b></a>
                <div class="content menu"><a class="item" href="#updating-via-npm">Updating via NPM</a></div>
            </div>
            <div class="item"><a class="title"><i class="dropdown icon"></i> <b>Next Steps</b></a>
                <div class="content menu"><a class="item" href="#all-set">All Set!</a></div>
            </div>
        </div>
    </div>
</div>

<form class="ui form" *ngIf="club" (ngSubmit)="savePlayer()">
    <h2 class="ui dividing header">俱乐部管理</h2>
    <div class="field">
        <label>名称</label>
        <div class="two fields">
            <div class="field">
                <input type="text" [(ngModel)]="club.cn" name="club[cn]" placeholder="中文名" type="text">
            </div>
            <div class="field">
                <input type="text" [(ngModel)]="club.en" name="club[en]" placeholder="英文名" type="text">
            </div>
        </div>
    </div>

    <button type="submit">Add</button>
</form>