<!--<header>

    <h1>球员详情</h1>

    <label class="hide-completed">

        <input type="checkbox" ng-model="$ctrl.hideCompleted"/>

        隐藏属性

    </label>

    <login-buttons></login-buttons>

    <form class="new-task">

        <input #searchtext type="text" name="text" placeholder="Search by name"/>
        <button type="button" (click)="search(searchtext.value)">Search</button>
    </form>
</header>-->

<form class="ui form" *ngIf="player" (ngSubmit)="savePlayer()">
    <h2 class="ui dividing header">球员编辑</h2>

    <h4 class="ui dividing header">基本资料</h4>
    <div class="field">
        <label>名称</label>
        <div class="two fields">
            <div class="field">
                <input type="text" [(ngModel)]="player.name.cn" name="name[cn]" placeholder="中文名" type="text">
            </div>
            <div class="field">
                <input type="text" [(ngModel)]="player.name.en" name="name[en]" placeholder="英文名" type="text">
            </div>
        </div>
    </div>

    <div class="fields">

        <semantic-select [optionAsync]="true" [optionLabel]="'国籍'" [options]="countries" [option]="player.nationality"
                         (optionOut)="receiverCountry($event)" class="two wide field"></semantic-select>

        <div class="two wide field">
            <label>身高</label>
            <input type="text" [(ngModel)]="player.height" name="height">
        </div>
        <div class="two wide field">
            <label>体重</label>
            <input type="text" [(ngModel)]="player.weight" name="weight">
        </div>
        <div class="ten wide field">
            <label>生日</label>
            <div class="two fields">
                <div class="field">
                    <div class="ui fluid search dropdown selection">
                        <select name="card[expire-month]">
                            <option value="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <i class="dropdown icon"></i>
                        <input class="search" autocomplete="off" tabindex="0">
                        <div class="default text">Month</div>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item" data-value="1">January</div>
                            <div class="item" data-value="2">February</div>
                            <div class="item" data-value="3">March</div>
                            <div class="item" data-value="4">April</div>
                            <div class="item" data-value="5">May</div>
                            <div class="item" data-value="6">June</div>
                            <div class="item" data-value="7">July</div>
                            <div class="item" data-value="8">August</div>
                            <div class="item" data-value="9">September</div>
                            <div class="item" data-value="10">October</div>
                            <div class="item" data-value="11">November</div>
                            <div class="item" data-value="12">December</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <input name="card[expire-year]" maxlength="4" placeholder="年" type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="fields">
        <div class="four wide field">
            <label>星级</label>
            <input type="text" [(ngModel)]="player.star" name="star">
        </div>
        <div class="four wide field">
            <label>等级</label>
            <input type="text" [(ngModel)]="player.level" name="level" disabled>
        </div>
        <semantic-select [optionAsync]="false" [optionLabel]="'球员类型'" [options]="types" [option]="player.type"
                         (optionOut)="receiverType($event)" class="four wide field"></semantic-select>
        <semantic-select [optionAsync]="false" [optionLabel]="'球员标签'" [options]="tags" [option]="player.tag"
                         (optionOut)="receiverTag($event)" class="four wide field"></semantic-select>
    </div>

    <div class="field">
        <semantic-select [optionAsync]="true" [optionLabel]="'俱乐部'" [options]="clubs" [option]="player.club"
                         (optionOut)="receiverClub($event)" class="four wide field"></semantic-select>
    </div>


    <h4 class="ui dividing header">球员能力</h4>
    <div class="fields">
        <div class="field">
            <label>{{player.ability.attacking.property.crossing.name}}</label>
            <input type="text" [(ngModel)]="player.ability.attacking.property.crossing.value" name="crossing">
        </div>
        <div class="field">
            <label>{{player.ability.attacking.property.finishing.name}}</label>
            <input type="text" [(ngModel)]="player.ability.attacking.property.finishing.value" name="finishing">
        </div>
        <div class="field">
            <label>{{player.ability.attacking.property.heading.name}}</label>
            <input type="text" [(ngModel)]="player.ability.attacking.property.heading.value" name="heading">
        </div>
        <div class="field">
            <label>{{player.ability.attacking.property.shortPassing.name}}</label>
            <input type="text" [(ngModel)]="player.ability.attacking.property.shortPassing.value" name="shortPassing">
        </div>
        <div class="field">
            <label>{{player.ability.attacking.property.volleys.name}}</label>
            <input type="text" [(ngModel)]="player.ability.attacking.property.volleys.value" name="volleys">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>{{player.ability.skill.property.dribbling.name}}</label>
            <input type="text" [(ngModel)]="player.ability.skill.property.dribbling.value" name="dribbling">
        </div>
        <div class="field">
            <label>{{player.ability.skill.property.curve.name}}</label>
            <input type="text" [(ngModel)]="player.ability.skill.property.curve.value" name="curve">
        </div>
        <div class="field">
            <label>{{player.ability.skill.property.freeKick.name}}</label>
            <input type="text" [(ngModel)]="player.ability.skill.property.freeKick.value" name="freeKick">
        </div>
        <div class="field">
            <label>{{player.ability.skill.property.longPassing.name}}</label>
            <input type="text" [(ngModel)]="player.ability.skill.property.longPassing.value" name="longPassing">
        </div>
        <div class="field">
            <label>{{player.ability.skill.property.ballControl.name}}</label>
            <input type="text" [(ngModel)]="player.ability.skill.property.ballControl.value" name="ballControl">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>{{player.ability.movement.property.acceleration.name}}</label>
            <input type="text" [(ngModel)]="player.ability.movement.property.acceleration.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.movement.property.sprintSpeed.name}}</label>
            <input type="text" [(ngModel)]="player.ability.movement.property.sprintSpeed.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.movement.property.agility.name}}</label>
            <input type="text" [(ngModel)]="player.ability.movement.property.agility.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.movement.property.reactions.name}}</label>
            <input type="text" [(ngModel)]="player.ability.movement.property.reactions.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.movement.property.balance.name}}</label>
            <input type="text" [(ngModel)]="player.ability.movement.property.balance.value" name="star">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>{{player.ability.power.property.shotPower.name}}</label>
            <input type="text" [(ngModel)]="player.ability.power.property.shotPower.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.power.property.jumping.name}}</label>
            <input type="text" [(ngModel)]="player.ability.power.property.jumping.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.power.property.stamina.name}}</label>
            <input type="text" [(ngModel)]="player.ability.power.property.stamina.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.power.property.strength.name}}</label>
            <input type="text" [(ngModel)]="player.ability.power.property.strength.value" name="star">
        </div>
        <div class="field">
            <label>{{player.ability.power.property.longShots.name}}</label>
            <input type="text" [(ngModel)]="player.ability.power.property.longShots.value" name="star">
        </div>
    </div>

    <!--<ul class="pure-g">
        &lt;!&ndash;<li class="pure-u-1-2">
            <label>生日</label>
            <input type="text" [(ngModel)]="player.birthday" name="birthday">
        </li>&ndash;&gt;
        <li class="pure-u-1-2">
            <label>俱乐部</label>
            <input type="text" [(ngModel)]="player.club" name="club">
        </li>
        <li class="pure-u-1-2">
            <label>球衣号码</label>
            <input type="text" [(ngModel)]="player.uniformNo" name="uniformNo">
        </li>
        <div>
                <span class="ui red label"
                      [ngClass]="{red: position.value < 30,grey:position.value>=30 && position.value < 50,olive: position.value >= 50 && position.value<80,green: position.value>=80}"
                      *ngFor="let position of player.position">{{position.name}}<br>{{position.value | number: '1.0-1'}}</span>
        </div>
        <li class="pure-u-1-2">
            <label>简介</label>
            <input type="text" [(ngModel)]="player.description" name="description">
        </li>
        <li class="pure-u-1-2">
            <label>进攻</label>
            <input type="text" [(ngModel)]="player.ability.attack" name="attack">
        </li>
        <li class="pure-u-1-2">
            <label>防御</label>
            <input type="text" [(ngModel)]="player.ability.defense" name="defense">
        </li>
        <li class="pure-u-1-2">
            <label>速度</label>
            <input type="text" [(ngModel)]="player.ability.speed" name="speed">
        </li>
        <li class="pure-u-1-2">
            <label>技术</label>
            <input type="text" [(ngModel)]="player.ability.skill" name="skill">
        </li>
        <li class="pure-u-1-2">
            <label>力量</label>
            <input type="text" [(ngModel)]="player.ability.strength" name="strength">
        </li>
        <li class="pure-u-1-2">
            <label>精神</label>
            <input type="text" [(ngModel)]="player.ability.spirit" name="spirit">
        </li>
    </ul>-->

    <button type="submit">Add</button>
</form>