<header>

    <h1>球员详情</h1>

    <label class="hide-completed">

        <input type="checkbox" ng-model="$ctrl.hideCompleted"/>

        隐藏属性

    </label>

    <login-buttons></login-buttons>

    <form class="new-task">

        <input #searchtext type="text" name="text" placeholder="Search by name"/>
        <button type="button" (click)="search(searchtext.value)">Search</button>
    </form>
</header>
<form *ngIf="player" (ngSubmit)="savePlayer()">
    <ul class="pure-g">
        <li class="pure-u-1-2">
            <label>姓名</label>
            <input type="text" [(ngModel)]="player.name" name="name">
        </li>
        <li class="pure-u-1-2">
            <label>国籍</label>
            <input type="text" [(ngModel)]="player.nationality" name="nationality">
        </li>
        <li class="pure-u-1-2">
            <label>体重</label>
            <input type="text" [(ngModel)]="player.weight" name="weight">
        </li>
        <li class="pure-u-1-2">
            <label>生日</label>
            <input type="text" [(ngModel)]="player.birthday" name="birthday">
        </li>
        <li class="pure-u-1-2">
            <label>身高</label>
            <input type="text" [(ngModel)]="player.height" name="height">
        </li>
        <li class="pure-u-1-2">
            <label>俱乐部</label>
            <input type="text" [(ngModel)]="player.club" name="club">
        </li>
        <li class="pure-u-1-2">
            <label>球衣号码</label>
            <input type="text" [(ngModel)]="player.uniformNo" name="uniformNo">
        </li>
        <li class="pure-u-1-2">
            <label>位置</label>
            <input type="text" [(ngModel)]="player.position" name="position">
        </li>
        <li class="pure-u-1-2">
            <label>星级</label>
            <input type="text" [(ngModel)]="player.star" name="star">
        </li>
        <li class="pure-u-1-2">
            <label>等级</label>
            <input type="text" [(ngModel)]="player.level" name="level">
        </li>
        <li class="pure-u-1-2">
            <label>类型</label>
            <input type="text" [(ngModel)]="player.type" name="type">
        </li>
        <li class="pure-u-1-2">
            <label>标签</label>
            <input type="text" [(ngModel)]="player.tag" name="tag">
        </li>
        <li class="pure-u-1-2">
            <label>简介</label>
            <input type="text" [(ngModel)]="player.description" name="description">
        </li>
        <li class="pure-u-1-2">
            <label>进攻</label>
            <input type="text" [(ngModel)]="player.ability.attack" name="attack">
        </li>
        <li class="pure-u-1-2">
            <label>防御</label>
            <input type="text" [(ngModel)]="player.ability.defense" name="defense">
        </li>
        <li class="pure-u-1-2">
            <label>速度</label>
            <input type="text" [(ngModel)]="player.ability.speed" name="speed">
        </li>
        <li class="pure-u-1-2">
            <label>技术</label>
            <input type="text" [(ngModel)]="player.ability.skill" name="skill">
        </li>
        <li class="pure-u-1-2">
            <label>力量</label>
            <input type="text" [(ngModel)]="player.ability.strength" name="strength">
        </li>
        <li class="pure-u-1-2">
            <label>精神</label>
            <input type="text" [(ngModel)]="player.ability.spirit" name="spirit">
        </li>
    </ul>

    <button type="submit">Add</button>
</form>