<form [formGroup]="addForm" (ngSubmit)="addParty()">
    <ul class="pure-g">
        <li class="pure-u-1-2">
            <label>Name</label>
            <input type="text" formControlName="name">
        </li>
        <li class="pure-u-1-2">
            <label>nationality</label>
            <input type="text" formControlName="nationality">
        </li>
        <li class="pure-u-1-2">
            <label>weight</label>
            <input type="text" formControlName="weight">
        </li>
        <li class="pure-u-1-2">
            <label>birthday</label>
            <input type="text" formControlName="birthday">
        </li>
        <li class="pure-u-1-2">
            <label>height</label>
            <input type="text" formControlName="height">
        </li>
        <li class="pure-u-1-2">
            <label>club</label>
            <input type="text" formControlName="club">
        </li>
        <li class="pure-u-1-2">
            <label>uniformNo</label>
            <input type="text" formControlName="uniformNo">
        </li>
        <li class="pure-u-1-2">
            <label>position</label>
            <input type="text" formControlName="position">
        </li>
        <li class="pure-u-1-2">
            <label>star</label>
            <input type="text" formControlName="star">
        </li>
        <li class="pure-u-1-2">
            <label>level</label>
            <input type="text" formControlName="level">
        </li>
        <li class="pure-u-1-2">
            <label>type</label>
            <input type="text" formControlName="type">
        </li>
        <li class="pure-u-1-2">
            <label>tag</label>
            <input type="text" formControlName="tag">
        </li>
        <li class="pure-u-1-2">
            <label>description</label>
            <input type="text" formControlName="description">
        </li>
        <li class="pure-u-1-2">
            <label>attack</label>
            <input type="text" formControlName="attack">
        </li>
        <li class="pure-u-1-2">
            <label>defense</label>
            <input type="text" formControlName="defense">
        </li>
        <li class="pure-u-1-2">
            <label>speed</label>
            <input type="text" formControlName="speed">
        </li>
        <li class="pure-u-1-2">
            <label>skill</label>
            <input type="text" formControlName="skill">
        </li>
        <li class="pure-u-1-2">
            <label>strength</label>
            <input type="text" formControlName="strength">
        </li>
        <li class="pure-u-1-2">
            <label>spirit</label>
            <input type="text" formControlName="spirit">
        </li>
    </ul>

    <button type="submit">Add</button>
</form>